@font-face {
	font-family: Hammersmith;
	font-weight: normal;
	font-style: normal;
	src: url("/ui/fonts/HammersmithOne.ttf");
}

@font-face {
	font-family: Raleway;
	font-weight: normal;
	font-style: normal;
	src: url("/ui/fonts/raleway.heavy.ttf");
}

.list-cell {
	-fx-background-color: #faebcd;
}

.list-cell:empty {
    -fx-background-color: #faebcd;
    -fx-border-color: #faebcd;
}

/*
 * ================================================================
 * HelpBox styles
 * ================================================================
 */
.helpItem {
	-fx-padding: 0;
	-fx-font-family: Hammersmith;
	-fx-font-size: 16px;
	-fx-background-color: transparent;
}

.helpItem #command {
	-fx-font-weight: 700;
	-fx-text-fill: white;
}

.helpItem #description {
	-fx-text-fill: white;
}