@font-face {
	font-family: Hammersmith;
	font-weight: normal;
	font-style: normal;
	src: url("/ui/fonts/HammersmithOne.ttf");
}

@font-face {
	font-family: Raleway;
	font-weight: normal;
	font-style: normal;
	src: url("/ui/fonts/raleway.heavy.ttf");
}

.list-cell:empty {
    -fx-background-color: #faebcd;
    -fx-border-color: #faebcd
}

.list-cell {
	-fx-background-color: #faebcd;
	-fx-border-color: #faebcd
}
 
.ListLayout .list-view {
	-fx-padding: 8 15 8 15;
	-fx-background-color: #faebcd;
}